{% load static %}
<!DOCTYPE html>
<html>
<head>
     <meta name="viewport" content="width=device-width, initial scale=1.0"/>
     <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <link rel="shortcut icon" href="static/logo.svg" type="image/svg+xml">
     <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="{% static 'reset_link_email.css' %}">

     <title>Verify your email</title>
</head>

<body>

    <nav class="top-navbar">
        <h1 class="webname">Zedway</h1>
    </nav>

    <div class="main-container">

        <img src="{% static 'emailsent.svg' %}">
        <h3>We've sent you an email with a link to reset your password.</h3>
        <h5>Didn't get it? Re-check the entered email</h5>

    </div>
   

    <nav class="navbar">
  
        <a href="#Aboutus" class="navlink">
        <span class="material-icons"> group </span>
        <span class="nav-text"><strong>About Us</strong></span>
        </a>
  
        <a href="contactus.html" class="navlink">
          <span class="material-icons"> mail </span>
          <span class="nav-text"><strong>Contact us</strong></span>
        </a>
  
        <a href="signupstep1.html" class="navlink active">
          <span class="material-icons"> login </span>
          <span class="nav-text"><strong>Sign Up</strong></span>
        </a>
    </nav>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    
    <script type="text/javascript">
    $(document).on('click', 'nav a',  function(){
    $(this).addClass('active').siblings().removeClass('active')
     })
    </script>




    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    
    <script type="text/javascript">
    $(document).on('click', 'nav a',  function(){
    $(this).addClass('active').siblings().removeClass('active')
     })
    </script>
</body>
