*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    font-family: 'Raleway' , sans-serif; 
    background-color: #ffffff;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none;
}

.webname {
    margin-left: 3%;
	font-size: 35px;
	font-weight: 1000;
    background-image: linear-gradient(to right, #8a9af1, #ec7490);
    font-family: 'Raleway' , sans-serif; 
	background-size: 100%;
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
	

}

.top-navbar {
    background-color: rgb(255, 255, 255);
    height: 6vh;
    width: 100%;
    padding: 5px;
    box-shadow: 0px 3px 15px rgba(122, 121, 122, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
    overflow: hidden;
    
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(45deg, #b9c0db, #455fd4);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(88deg, #7a8dda, #dd99a9);
}

::-webkit-scrollbar-track-piece {
    background-color: rgb(247, 244, 244);
    border-radius: 8px;
}

.navlink {
    display: flex;
    text-decoration: none;
    color: #636363;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-family: 'Raleway' , sans-serif; 
    
}

.navlink:hover {
    color: #213fe9;
}

nav a.active {
    color: #213fe9;
}

.navbar {
    padding: 4px;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: auto;
    background-color: #ffffff;
    display: flex;
    overflow-x: auto;
    opacity: 1;
    margin-top: 130%;
    box-shadow: 0px 3px 15px rgba(77, 75, 76, 0.3);

}

/* MAIN POST */

.main-content {
    margin-top: 15%;
    width: 700px;
    height: 1000px; 
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    margin-bottom: 5%; 
}

.list {
    width: 100%;
    overflow-y: auto
}

.list h2 {
    text-align: center;
    background-color: rgba(219, 219, 219, 0.3);
    margin-bottom: 15px;
    padding: 10px;
}

.profile img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 15px;
}

.profile {
    display: flex;
    align-items: center;
    background-color: #f3f2f2;
    padding: 8px;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 10px;
    border-bottom: 2px solid rgb(99, 99, 99, 0.2);
}


.profile:hover {
    background-color: #dad8d8 ;
}



@media only screen 
and (min-device-width : 240px) 
and (max-device-width : 640px) {
    .top-navbar {
        width: 100%;
    }
}

@media only screen and (max-width: 1145px) {
    .main-content {
        margin-top: 20%;
    }
}

@media only screen and (max-width: 805px) {
    .main-content {
        margin-top: 30%;
    }
} 


@media only screen and (min-width: 2560px) {
    .navbar {
        height: 5vh;
    }

    .navlink {
        font-size: 18px;
    }

    .top-navbar {
        height: 7vh;
    }

    .webname {
        font-size: 50px;
    }

}

@media only screen and (max-width: 425px) {
    .navbar {
        height: 8%;
    }

    .nav-text {
        display: none;
    }

    .material-icons {
        transform: scale(1.2);
    }

    .top-navbar {
        height: 8%;
    }

    .webname {
        font-size: 35px;
        font-weight: lighter;
    }

    .main-content {
        width: 400px;
        margin-top: 60%;
    }
}

@media only screen and (max-width: 768px) and (min-width: 600px) {
    .main-content {
       margin-top: 50%;
       width: 450px;
    } 
}

@media only screen and (max-width: 600px) and (min-width: 501px) {
    .main-content {
        margin-top: 45%;
        width: 500px;
    }

}

@media only screen and (max-width: 500px) and (min-width: 426px) {


    .main-content {
        margin-top: 55%;
        width: 400px;
    }
}

@media only screen and (max-width: 393px) and (min-width: 340px) {
    .main-content {
        margin-top: 65%;
        width: 345px;
        margin-bottom: 16%;
    }
}

@media only screen and (max-width: 360px) {
    .main-content {
        width: 310px;
        margin-top: 75%;
        margin-bottom: 0%;
    }

    .profile img {
        width: 30px;
        height: 30px;
    }

    .webname {
        font-size: 30px;
    }
} 

