* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none;
}

.webname {
    margin-left: 3%;
	font-size: 35px;
	font-weight: 1000;
    background-image: linear-gradient(to right, #8a9af1, #ec7490);
    font-family: 'Raleway' , sans-serif; 
	background-size: 100%;
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
	

}

.top-navbar {
    background-color: rgb(255, 255, 255);
    height: 6vh;
    width: 100%;
    padding: 5px;
    box-shadow: 0px 3px 15px rgba(122, 121, 122, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
    
}

body {
	background-image: url("doodle.svg");
	background-size: cover;
	background-repeat: repeat;
}


.form-container {
	width: 650px;
    height: 1000px;
    margin-bottom: 30px;
	position: relative;
	background-image: linear-gradient(45deg, #f4f5f7, #e4e3e3);
	border-radius: 3px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
	0 10px 10px rgba(0,0,0,0.22);
	margin: 12% auto;
	padding: 5px;
    font-family: 'Montserrat', sans-serif;
    overflow-y: auto;
	overflow-x: hidden;
}

.input-section {
    top: 80px;
	position: absolute;
	width: 480px;
	transition: .5s;
}

.input-section h3 {
	text-align: center;
	color: #636363;
    font-size: 50px;
    margin-bottom: 30px;
}

.input {
	margin: 5px 0;
	width: 100%;
	border-radius: 8px;
	padding: 10px;
	background-color: transparent;
	font-size: 14px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 2px solid #626262;
	outline: none;
}

form p {
    font-size: 20px;
    margin-bottom: 10px;
}

label {
    font-size: 20px;
}

.next-button {
	padding: 10px 30px;
    margin-left: auto;
	margin-right: auto;
    margin-bottom: auto;
    margin-top: 15px;
    font-size: 20px;
    width: 85%;
	background-image: linear-gradient(45deg, #aab4e4, #dfa8b5);
	border: none;
	display: block;
	border-radius: 8px;
	color: white;
	cursor: pointer;
	transform: translateY(70px);
}

.next-button:hover {
    background-image: linear-gradient(45deg, #929fdb, #dd99a9);
}
  
.file-input {
    display: flex;
    flex-direction: column;
}

#custom {
    margin-left: 25%;
    padding: 10px;
    width: 50%;
    color: #636363;
    background-color: transparent;
    border: 2px solid #636363;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    font-size: 20px;
}
  
#button-text {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 25px;
}

  input[type="radio"] {
    height: 20px;
    width: 20px;
    vertical-align: middle;
    margin-bottom: 5px;
    margin-top: 5px;
}

  .color {
	  margin: 2% auto;
	  width: 50%;
	  transform: translateX(45%);
  }

 

  #form2{
      left: 85px;
  }

  ::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(45deg, #b9c0db, #455fd4);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(88deg, #7a8dda, #dd99a9);
}

::-webkit-scrollbar-track-piece {
    background-color: rgb(247, 244, 244);
    border-radius: 8px;
}

 

  

.navlink {
    display: flex;
    text-decoration: none;
    color: #636363;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-family: 'Raleway' , sans-serif; 
    
}

.navlink:hover {
    color: #213fe9;
}

nav a.active {
    color: #213fe9;
}

.navbar {
    padding: 4px;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: auto;
    background-color: #ffffff;
    display: flex;
    overflow-x: auto;
    opacity: 1;
    margin-top: 130%;
    box-shadow: 0px 3px 15px rgba(77, 75, 76, 0.3);
}


  @media only screen 
and (min-device-width : 240px) 
and (max-device-width : 640px) {
    .top-navbar {
        width: 100%;
    }
}

@media only screen and (min-width: 2560px) {
    .top-navbar {
        height: 7vh;
    }

    .webname {
        font-size: 50px;
	}
	
	.navbar {
        height: 5vh;
    }

    .navlink {
        font-size: 18px;
    }

}

@media only screen and (max-width: 320px) {
    .form-container {
        margin-bottom: 30%;
    }
}


@media only screen and (max-width: 425px) {
    .top-navbar {
        height: 9%;
    }

    .top-navbar h1 {
        font-size: 45px;
	}
	
	.form-container {
        height: 1350px;
        margin-top: 60%;
        margin-bottom: 50%;
    }
    
    .tags-input .main-input {
        font-size: 20px;
    }

    .tags-input .tag {
        font-size: 22px;
    }

	.navbar {
        height: 9%;
    }

    .nav-text {
        display: none;
    }

    .material-icons {
        transform: scale(1.8);
    }

    input[type="radio"] {
        height: 30px;
        width: 30px;
        vertical-align: middle;
        margin-bottom: 10px;
        margin-top: 10px;
   }

    .input {
        font-size: 22px;
   }

    .next-button {
       font-size: 25px;
       margin-bottom: 20px;
   }

    label {
       font-size: 30px;
   }

    form p {
      font-size: 30px;
      margin-bottom: 15px;
   }

}