:root {
    --accent-color1: #aab4e4;
    --accent-color2: #dfa8b5;
    --my-gradient: linear-gradient(45deg, var(--accent-color1), var(--accent-color2));
  }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway' , sans-serif; 
    background-color: #ffffff;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none;
}

.webname {
    margin-left: 3%;
	font-size: 35px;
	font-weight: 1000;
    background-image: linear-gradient(to right, #8a9af1, #ec7490);
    font-family: 'Raleway' , sans-serif; 
	background-size: 100%;
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
	

}

.top-navbar {
    background-color: rgb(255, 255, 255);
    height: 6vh;
    width: 100%;
    padding: 5px;
    box-shadow: 0px 3px 15px rgba(122, 121, 122, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
    
}

.header {
    z-index: 1;
    height: 50px;
    background-image: var(--my-gradient);
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: 8px;
    box-shadow: 0px 3px 15px rgba(136, 133, 135, 0.3);
    color: white;
    position: sticky;
    top: 0; 
}

.header h2 {
    font-size: 30px;
}


::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(45deg, #b9c0db, #455fd4);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(88deg, #7a8dda, #dd99a9);
}

::-webkit-scrollbar-track-piece {
    background-color: rgb(247, 244, 244);
    border-radius: 8px;
}

.navlink {
    display: flex;
    text-decoration: none;
    color: #636363;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-family: 'Raleway' , sans-serif; 
    
}

.text-post {
    background-image: linear-gradient(45deg, #f4f5f7, #e4e3e3);
    box-shadow: 0px 7px 16px -2px rgba(0,0,0,0.66);
    margin-top: 10%;
    margin-bottom: 10%;
    width: 100%;
    border-radius: 3px;
    overflow-y : auto;
    overflow-x: hidden;
}

.navlink:hover {
    color: #213fe9;
}

nav a.active {
    color: #213fe9;
}

.navbar {
    padding: 4px;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: auto;
    background-color: #ffffff;
    display: flex;
    overflow-x: auto;
    opacity: 1;
    margin-top: 130%;
    box-shadow: 0px 3px 15px rgba(77, 75, 76, 0.3);

}

/* MAIN POST */

.main-content {
    margin-top: 10%;
    width: 700px;
    height: 1000px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
}

.profile-info {
    display: flex;
    align-items: center;
    color: white;
}

a {
    text-decoration: none;
}

.delete, .report {
    color: black;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white;
    margin-right: 5px;
}

.post-title {
    font-size: 23px;
    text-align: center;
    background-image: var(--my-gradient);
    color: white;
    padding: 8px;
}

.cta-btn {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    color: rgb(102, 102, 207);
}

.cta-btn button {
    background-color: transparent;
    border: none;
    color: rgb(102, 102, 207);
}

.like, .view, .liked {
    transform: scale(1.8);
    cursor: pointer;
}

.like:focus {
    outline: none;
}

.liked:focus {
    outline: none;
}

.liked {
    margin-left: 8px;
}

.likes, .views {
    cursor: pointer;
}

.post-caption {
    padding: 15px;
    font-size: 17px;
}

.more-actions {
    cursor: pointer;
}

.delete, .report {
    transform: scale(1);
}

.post-views {
    margin-bottom: 20%;   
}

.add-view {
    margin-bottom: 20%;
}

.post-views h2 {
    text-align: center;
    background-color: rgba(219, 219, 219, 0.3);
    padding: 10px;
}

label {
    font-size: 22px;
    padding: 8px;
}

textarea {
    resize: none;
    width: 100%;
    height: 100px;
    font-size: 14px;
    padding: 15px;
    border-image: linear-gradient(to right, #8a9af1, #ec7490);
    border-image-slice: 30%;
    margin-top: 15px;
    font-family: 'Montserrat' , sans-serif;
}

.send {
    float: right;
    background-image: linear-gradient(45deg, #a1aad8, #8291df);
    padding: 10px;
    border: none;
    color: white;
    border-radius: 50%;
    cursor: pointer;
}

.send:focus {
    outline: none;
}

.views-list {
    width: 95%;
    margin-left: 3%;
}

.views-list img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}

.view-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bolder;
}

.views-list p {
    text-align: justify;
}

.text {
    padding: 15px;
    font-size: 18px;
}

textarea:focus {
    outline: none;
}

.view-text .report {
    cursor: pointer;
    transform: translateX(60%);
    
}

.date{
    padding: 15px;
    border-bottom: 2px solid rgb(99, 99, 99, 0.4);
}

.post-date {
    padding: 15px;
}

@media only screen 
and (min-device-width : 240px) 
and (max-device-width : 640px) {
    .top-navbar {
        width: 100%;
    }
}

@media only screen and (max-width: 339px) {
    .main-content {
        width: 300px;
        margin-top: 50%;
    }

    .post-views {
        margin-bottom: 30%;   
    }

    .send {
        font-size: 10px;
        margin-top: 10px;
    }

}

@media only screen and (min-width: 2560px) {
    .navbar {
        height: 5vh;
    }

    .navlink {
        font-size: 18px;
    }

    .top-navbar {
        height: 7vh;
    }

    .webname {
        font-size: 50px;
    }

}


@media only screen and (max-width: 450px) and (min-width: 400px){
    .navbar { 
        height: 8%;
    }

    .nav-text {
        display: none;
    }

    .material-icons {
        transform: scale(1.2);
    }

    .top-navbar {
        height: 8%;
    }

    .webname {
        font-size: 35px;
        font-weight: lighter;
    }

    .main-content {
        width: 400px;
        margin-top: 30%;
    }

    .text-post {
        margin-top: 40%;
    }

    .send {
        transform: scale(0.9);
    }


}

@media only screen and (max-width: 786px) and (min-width: 501px) {
    .main-content {
        width: 500px;
        margin-top: 35%;
    }
}


@media only screen and (max-width: 500px) and (min-width: 450px) {


    .main-content {
        margin-top: 40%;
        width: 445px;
    }

    .text-post {
        margin-bottom: 30%;
    }

    .post-title {
        font-size: 18px;
    }
}

@media only screen and (max-width: 399px) and (min-width: 340px) {
    .main-content {
        margin-top: 70%;
        width: 335px;
    }

    .text-post {
        margin-bottom: 30%;
        margin-top: 5%;
    }

    .post-title {
        font-size: 15px;
    }

    .post-caption {
        font-size: 13px;
    }

    .delete, .report {
        transform: scale(0.9);
    }

    .like, .view, .liked {
        transform: scale(1.3);
        cursor: pointer;
    }

    .send {
        transform: translateY(-5%);
        margin-right: 10px;
    }

    .navbar { 
        height: 8%;
    }

    .nav-text {
        display: none;
    }

    .material-icons {
        transform: scale(1.2);
    }

    .top-navbar {
        height: 8%;
    }
}