*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway' , sans-serif; 
    background-color: #ffffff;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none;
        overflow-x: hidden;
}

.webname {
    margin-left: 3%;
	font-size: 35px;
	font-weight: 1000;
    background-image: linear-gradient(to right, #8a9af1, #ec7490);
    font-family: 'Raleway' , sans-serif; 
	background-size: 100%;
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
	

}

.top-navbar {
    background-color: rgb(255, 255, 255);
    height: 6vh;
    width: 100%;
    padding: 5px;
    box-shadow: 0px 3px 15px rgba(122, 121, 122, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
    overflow: hidden;
    
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(45deg, #b9c0db, #455fd4);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(88deg, #7a8dda, #dd99a9);
}

::-webkit-scrollbar-track-piece {
    background-color: rgb(247, 244, 244);
    border-radius: 8px;
}

.navlink {
    display: flex;
    text-decoration: none;
    color: #636363;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-family: 'Raleway' , sans-serif; 
    
}

.navlink:hover {
    color: #213fe9;
}

nav a.active {
    color: #213fe9;
}

.navbar {
    padding: 4px;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: auto;
    background-color: #ffffff;
    display: flex;
    overflow-x: auto;
    opacity: 1;
    margin-top: 130%;
    box-shadow: 0px 3px 15px rgba(77, 75, 76, 0.3);

}

/* MAIN */

.main-content {
    display: flex;
    justify-content: center;
}

.submit {
    text-align: center;
    position: absolute;
    left: 36%;
    padding: 8px 16px;
    font-size: 20px;
    background-image: linear-gradient(to right, #aab4e4, #dfa8b5);
    border: 2px solid #fff;
    border-radius: 5px 10px;
    margin-bottom: 10px;
    color: #fff;
    cursor: pointer;
}

.submit:focus {
    outline: none;
}

ul h2 {
    background-color: rgb(199, 201, 202);
    padding: 8px;
    text-align: center;
}
    

ul {
    list-style-type: none;
    margin: 15% auto;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-55%, -50%);
  }
  
  li {
    display: inline-block;
  }
  
  label {
    border: 1px solid #fff;
    padding: 10px;
    display: block;
    position: relative;
    margin: 10px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  label::before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    border: 1px solid grey;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
  }

  .check {
      visibility: hidden;
  }
  
  label img {
    height: 100px;
    width: 100px;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
  }
  
  :checked+label {
    border-color: #ddd;
  }
  
  :checked+label::before {
    content: "♥️";
    padding: 5px;
    background-image: linear-gradient(45deg, #aab4e4, #dfa8b5);
    border: none;
    transform: scale(1);
    z-index: 2;
  }
  
  :checked+label img {
    transform: scale(0.9);
    box-shadow: 0 0 5px #333;
    z-index: -2;
  }

  @media only screen and (max-width: 1024px) and (min-width: 900px) {
      ul {
          margin: 10% auto;
      }
      .navbar {
        height: 5vh;
    }

    .navlink {
        font-size: 18px;
    }

    .top-navbar {
        height: 7vh;
    }

    .webname {
        font-size: 50px;
    }
  }

  @media only screen and (max-width: 768px) {
        ul {
            margin-top: 70%;
        }

    ul h2 {
        font-size: 18px;
        transform: translateX(-5%);
    }

  }

  @media only screen and (max-width: 480px) and (min-width: 446px) {
      .main-content {
          width: 350px;
      }

      ul {
          margin-top: 560%;
      }

      label img {
          width: 200px;
          height: 200px;
      }

      ul h2 {
          font-size: 15px;
      }

      li {
          transform: translateX(-3%);
      }

      .navbar {
        height: 8%;
    }

     .nav-text {
        display: none;
    }

    .material-icons {
        transform: scale(1.2);
    }

    .top-navbar {
        height: 8%;
    }

    .webname {
        font-size: 35px;
        font-weight: lighter;
    }
  }

  @media only screen and (max-width: 445px) and (min-width: 424px) {
      ul {
          margin-top: 590%;
      }

      .main-content {
          width: 350px;
      }

      label img {
          width: 200px;
          height: 200px;
      }

      .nav-text {
          display: none;
      }
  }

  @media only screen and (max-width: 450px) and (min-width: 380px) {
    ul {
        margin-top: 640%;
        margin-bottom: 40%;
    }

    .main-content {
        width: 350px;
    }

    label img {
        width: 200px;
        height: 200px;
    }

    .nav-text {
        display: none;
    }

    .navbar {
        height: 9%;
    }

    .material-icons {
        transform: scale(1.2)
    }
}

@media only screen and (max-width: 386px) and (min-width: 355px) {
    ul {
        margin-top: 710%;
        margin-bottom: 50%;
    }

    label img {
        width: 200px;
        height: 200px;
    }

    .nav-text {
        display: none;
    }

    .navbar {
        height: 9%;
    }

    .material-icons {
        transform: scale(1.2)
    }
}

@media only screen and (max-width: 354px)  and (min-width: 330px){
    .main-content {
        width: 310px;
    }

    ul {
        margin-top: 755%;
        margin-bottom: 70%;
    }

    label img {
        width: 200px;
        height: 200px;
    }

    .nav-text {
        display: none;
    }

    .navbar {
        height: 9%;
    }

    .material-icons {
        transform: scale(1.2)
    }
}

@media only screen and (max-width: 329px) {

    .main-content {
        width: 310px;
    }

    label img {
        width: 200px;
        height: 200px;
    }

    .nav-text {
        display: none;
    }

    .navbar {
        height: 9%;
    }

    .material-icons {
        transform: scale(1.2)
    }

    ul {
        margin-top: 800%;
        margin-bottom: 80%;
    }
}
  @media only screen and (max-width: 1289px) and (min-width: 800px) {
      
    .main-content {
        width: 600px;
    }

    ul {
        margin-top: 50%;
    }

    .navbar {
        height: 7%;
    }

    .material-icons {
        transform: scale(1.2);
    }

  }



  @media only screen and (max-width: 605px) and (min-width: 506px){
      .main-content {
          width: 500px;
      }

      ul {
          margin-top: 410%;
      }
      label img {
          width: 200px;
          height: 200px;
      }
  } 

  @media only screen and (max-width: 505px) and (min-width: 481px){
    .main-content {
        width: 400px;
    }
  }

