* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
        -webkit-user-select: text; /* Chrome, Opera, Safari */
    -moz-user-select: text; /* Firefox 2+ */
    -ms-user-select: text; /* IE 10+ */
    user-select: text; /* Standard syntax */
}

body {
	background-image: url("doodle.svg");
	background-size: cover;
	background-repeat: no-repeat;
}


.webname {
    margin-left: 3%;
	font-size: 35px;
	font-weight: 1000;
    background-image: linear-gradient(to right, #8a9af1, #ec7490);
    font-family: 'Raleway' , sans-serif; 
	background-size: 100%;
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
	

}

.top-navbar {
    background-color: rgb(255, 255, 255);
    height: 6vh;
    width: 100%;
    padding: 5px;
    box-shadow: 0px 3px 15px rgba(122, 121, 122, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
    
}
.form-container {
	width: 480px;
	height: 800px;
	position: relative;
	background-image: linear-gradient(45deg, #f4f5f7, #e4e3e3);
	border-radius: 3px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
	0 10px 10px rgba(0,0,0,0.22);
	margin: 12% auto;
	padding: 5px;
	font-family: 'Montserrat', sans-serif;
	overflow: hidden;
}

.checkbox {
	margin-top: 15px;
}

.toggle-button {
	width: 240px;
	margin: 35px auto;
	position: relative;
	border-radius: 30px;
	box-shadow: 0 0 8px 2px #dd99a9;
	display: flex;
}

.button {
	padding: 10px 30px;
	background: transparent;
	outline: none;
	border: 0;
	color: #6d6c6c;
	font-size: 15px;
	position: relative;
}

form h5 {
	color: tomato;
	text-align: center;
	margin-top: 10px;
}

#button-style {
	background-image: linear-gradient(45deg, #929fdb, #dd99a9);
	width: 120px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 30px;
	transition: .5s;
}

.input-section {
	top: 120px;
	position: absolute;
	width: 320px;
	transition: .5s;
}

.input-section h3 {
	text-align: center;
	color: #636363;
	font-size: 24px;
}

.input-section h4 {
	text-align: center;
	color: #636363;
	font-size: 20px;
	margin-bottom: 10px;
}



.input {
	margin: 5px 0;
	width: 100%;
	padding: 10px;
	background-color: transparent;
	font-size: 14px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 2px solid #969494;
	outline: none;
	color: #636363;
       opacity: 1; 
}

input {
       -webkit-user-select: text;
}

symbol {
	transform: scale(0.2);
}

.username {
	display: flex;
	align-items: center;
}

.next-button {
	padding: 10px 30px;
	margin-left: auto;
	margin-right: auto;
        margin-bottom: auto;
	margin-top: 15px;
	width: 85%;
	background-image: linear-gradient(45deg, #aab4e4, #dfa8b5);
	border: none;
	display: block;
	border-radius: 8px;
	color: white;
	cursor: pointer;
}

.next-button:hover {
	background-image: linear-gradient(45deg, #929fdb, #dd99a9);

}

.sign-up {
	left: 15px;
}

#sign-up{
	  left: 80px;
}

#sign-in{
	left: 480px;
	top: 200px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(45deg, #b9c0db, #455fd4);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(88deg, #7a8dda, #dd99a9);
}

::-webkit-scrollbar-track-piece {
    background-color: rgb(247, 244, 244);
    border-radius: 8px;
}



.navlink {
    display: flex;
    text-decoration: none;
    color: #636363;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-family: 'Raleway' , sans-serif; 
    
}

.navlink:hover {
    color: #213fe9;
}

nav a.active {
    color: #213fe9;
}

.navbar {
    padding: 4px;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: auto;
    background-color: #ffffff;
    display: flex;
    overflow-x: auto;
    opacity: 1;
    margin-top: 130%;
    box-shadow: 0px 3px 15px rgba(77, 75, 76, 0.3);

}

@media only screen and (min-width: 2560px) {
    .navbar {
        height: 5vh;
    }

    .navlink {
        font-size: 18px;
	}
	
	.top-navbar {
        height: 7vh;
    }

    .webname {
        font-size: 50px;
	}
	
	.input-section h3 {
		font-size: 30px;
	}

	.input-section h4 {
		font-size: 25px;
	}

	.button {
		font-size: 17px;
	}

	.next-button {
		font-size: 18px;
	}

	.input {
		font-size: 17px;
	}

}

@media only screen and (max-width: 425px) {
    .navbar {
        height: 9%;
    }

    .nav-text {
        display: none;
    }

    .material-icons {
        transform: scale(1.4);
	}
	
	.form-container {
		margin-top: 40%;
		margin-bottom: 30%;
		height: 850px;
	}

	.next-button {
		font-size: 20px;
	}

	.input {
		font-size: 20px;
	}

	.top-navbar {
        height: 9%;
    }

    .top-navbar h1 {
        font-size: 40px;
    }

}

@media only screen 
and (min-device-width : 240px) 
and (max-device-width : 640px) {
    .top-navbar {
        width: 100%;
    }
}





