{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics --> <script async src="https://www.googletagmanager.com/gtag/js?id=UA-178045609-1"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-178045609-1'); </script>
        <meta name="viewport" content="width=device-width, initial scale=1.0"/>
        <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="shortcut icon" href="{% static 'logo.svg' %}" type="image/svg+xml">
        <link  href="{% static 'contactus.css' %}"  rel="stylesheet">
        <title>Reach Out</title>
    </head>

    <body>

        <nav class="top-navbar">
            <h1 class="webname">Zedway</h1>
        </nav>


        <div class="form-container">

            <form id="contactus-form" class="input-section" method="post" action="/contact">
		{% csrf_token %}
                <h3>Reach Out!</h3>

                <label for="name" class="label">Name: </label>
                <input type="text" class="input" required name="name"/>

                <label for="email" class="label">Email: </label>
                <input type="email" class="input" required name="email"/>


                <label for="message" class="label">Message:</label>
                <textarea name="message"></textarea>


                <button class="next-button">Send</button>
            </form>
        </div>

        <nav class="navbar">
      
            <a href="/about" class="navlink">
            <span class="material-icons"> group </span>
            <span class="nav-text"><strong>About Us</strong></span>
            </a>
      
            <a href="/contact" class="navlink">
              <span class="material-icons"> mail </span>
              <span class="nav-text"><strong>Contact us</strong></span>
            </a>
      
            <a href="/accounts/register" class="navlink active">
              <span class="material-icons"> login </span>
              <span class="nav-text"><strong>Sign Up</strong></span>
            </a>
        </nav>

        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        
        <script type="text/javascript">
        $(document).on('click', 'nav a',  function(){
        $(this).addClass('active').siblings().removeClass('active')
         })
         
        </script>
 

    </body>
</html>
