{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics --> <script async src="https://www.googletagmanager.com/gtag/js?id=UA-178045609-1"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-178045609-1'); </script>
        <meta name="viewport" content="width=device-width, initial scale=1.0"/>
        <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="shortcut icon" href="{% static 'logo.svg' %}" type="image/svg+xml">


        <link  href="{% static 'cookies.css' %}"  rel="stylesheet">

        <title>Cookies Policy</title>
    </head>

    <body>

        <nav class="top-navbar">
            <h1 class="webname">Zedway | cookies policy</h1>
        </nav>



        <div class="container">

            <div id="main" class="text-section">
                
                <h2>Cookies Policy of <span>Zedway</span></h2>
    
                <p class="heading">What are cookies?</p><br><br>
                <p>Cookies are small text files that websites place on the computers and mobile devices of people who visit those websites. These files are then read by the website each time you return to it. These text files allow it to remember your device and how you interacted with it, which is useful for a number of different purposes.</p><br><br>

                <p class="heading">What cookies are we using?</p><br><br>
                <p>The following cookies are active in our website -</p><br><br>
                     <ul>
                       <li> Site Performance Cookies </li><br>
                       <li> Registration Cookies </li><br>
                       <li> Advertising Cookies </li><br>
                       <li>Third Party Cookies </li>  
                    </ul>
                    <br>
                    <br>
                    <p class="heading">What are we using them?</p><br><br>
                         <ul>
                           <li> <strong>Essential cookies</strong> are important for the operation of our site. This includes cookies that we use so that you can stay logged into your account.</li><br>
                           <li> <strong>Performance cookies</strong>  are used to count how often you visit our site and to understand how you use it. We use this information to measure the performance of our site, which allows us to get a better sense of how our users engage with our services and to improve them so that users have a better experience.</li><br>
                           <li> <strong>Functionality cookies</strong>  are used to recognise you and remember your preferences or settings when you return to our site so that we can provide a more personalised experience for you. Some of these cookies are also set by third parties. </li><br>
                           <li> <strong>Advertising cookies</strong> are used to collect information about your visit to our site, the content you have viewed, the links you have followed and information about your browser, device and your IP address. We use this information to show you more relevant advertising on our website for you. This allows us to create groups of people with similar interests to make advertising shown on zedway.app more relevant.</li>  
                        </ul>
                        <br>
                        <br>

                <p>If you have any more queries about this policy, do not hesitate to contact us <a href="/contact">here</a>.</p><br><br>



              
        </div>
        </div>


        <nav class="navbar">
      
            <a href="/about" class="navlink">
            <span class="material-icons"> group </span>
            <span class="nav-text"><strong>About Us</strong></span>
            </a>
      
            <a href="/contact" class="navlink">
              <span class="material-icons"> mail </span>
              <span class="nav-text"><strong>Contact us</strong></span>
            </a>
      
            <a href="/accounts/register" class="navlink">
              <span class="material-icons"> login </span>
              <span class="nav-text"><strong>Sign Up</strong></span>
            </a>
        </nav>
         
          <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
          <script type="text/javascript">
            $(document).on('click', 'nav a',  function(){
                $(this).addClass('active').siblings().removeClass('active')
            })
           
           </script>


    </body>
</html>
