{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics --> <script async src="https://www.googletagmanager.com/gtag/js?id=UA-178045609-1"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-178045609-1'); </script>
        <meta name="viewport" content="width=device-width, initial scale=1.0"/>
        <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="shortcut icon" href="{% static 'logo.svg' %}" type="image/svg+xml">


        <link  href="{% static 'crop_profile.css' %}"  rel="stylesheet">

        <link rel="stylesheet" href="{% static 'cropperjs/dist/cropper.css' %}" />
        <script src="{% static 'cropperjs/dist/cropper.js' %}"></script>

        <title>Crop Profile Picture</title>
    </head>

    <body>

        <nav class="top-navbar">
            <h1 class="webname">Zedway</h1>
        </nav>

        <div class="form-container">

            <form id="form2" class="input-section" method='post' action='{% url 'home:crop-post' pk=post.pk %}' id="formUpload">
                {% csrf_token %}
                <h3>Crop your picture</h3>

                <div class="image-preview" id="imagePreview">
                    <img src="" class="image-preview__image" name="input_image" id="input_image">
                    <span class="image-preview__default-text">

                        <div>
                            <img id="image" src="/media/{{ post.file }}" height="300" width="300">
                        </div>
                    </span>
                </div>
                <input type="hidden" name="x" id="id_x" />
                <input type="hidden" name="y" id="id_y" />
                <input type="hidden" name="w" id="id_w" />
                <input type="hidden" name="h" id="id_h" />
                <input class="next-button" type="submit" value="Post!" id="gd">
            </form>

        </div>


        <nav class="navbar">

            <a href="/about" class="navlink">
                <span class="material-icons"> group </span>
                <span class="nav-text"><strong>About Us</strong></span>
            </a>

            <a href="/contact" class="navlink">
                <span class="material-icons"> mail </span>
                <span class="nav-text"><strong>Contact us</strong></span>
            </a>

            <a href="/accounts/signup" class="navlink">
                <span class="material-icons"> login </span>
                <span class="nav-text"><strong>Sign Up</strong></span>
            </a>
        </nav>

        <script type="text/javascript">
            // import Cropper from 'cropperjs';

            const image = document.getElementById('image');
            const gd = document.getElementById('gd')
            const cropper = new Cropper(image, {

            // The view mode of the cropper
            viewMode: 0, // 0, 1, 2, 3

            // The dragging mode of the cropper
            dragMode: 'crop', // 'crop', 'move' or 'none'

            // The initial aspect ratio of the crop box
            initialAspectRatio: 1,

            // The aspect ratio of the crop box
            aspectRatio: 1,

            // An object with the previous cropping result data
            data: null,

            // Re-render the cropper when resize the window
            responsive: true,

            // Restore the cropped area after resize the window
            restore: true,

            // Check if the current image is a cross-origin image
            checkCrossOrigin: true,

            // Check the current image's Exif Orientation information
            checkOrientation: true,

            // Show the black modal
            modal: true,

            // Show the dashed lines for guiding
            guides: true,

            // Show the center indicator for guiding
            center: true,

            // Show the white modal to highlight the crop box
            highlight: true,

            // Show the grid background
            background: false,

            // Enable to crop the image automatically when initialize
            autoCrop: true,

            // Define the percentage of automatic cropping area when initializes
            autoCropArea: 0.8,

            // Enable to move the image
            movable: true,

            // Enable to rotate the image
            rotatable: true,

            // Enable to scale the image
            scalable: true,

            // Enable to zoom the image
            zoomable: true,

            // Enable to zoom the image by dragging touch
            zoomOnTouch: true,

            // Enable to zoom the image by wheeling mouse
            zoomOnWheel: true,

            // Define zoom ratio when zoom the image by wheeling mouse
            wheelZoomRatio: 0.1,

            // Enable to move the crop box
            cropBoxMovable: true,

            // Enable to resize the crop box
            cropBoxResizable: true,

            // Toggle drag mode between "crop" and "move" when click twice on the cropper
            toggleDragModeOnDblclick: true,

            // Size limitation
            minCanvasWidth: 0,
            minCanvasHeight: 0,
            minCropBoxWidth: 0,
            minCropBoxHeight: 0,
            maxContainerWidth: 180,
            maxContainerHeight: 180,

            // Shortcuts of events
            ready: null,
            cropstart: null,
            cropmove: null,
            cropend: null,
            crop: null,
            zoom: null

            });
        </script>

        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

        <script>

         $("#gd").click(function () {
             var cropData = cropper.getData(true);
             $("#id_x").val(cropData["x"]);
             $("#id_y").val(cropData["y"]);
             $("#id_h").val(cropData["height"]);
             $("#id_w").val(cropData["width"]);
             $("#formUpload").submit();
         });
        </script>


        <script type="text/javascript">
         $(document).on('click', 'nav a',  function(){
             $(this).addClass('active').siblings().removeClass('active')
         })
        </script>
    </body>
</html>
