{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics --> <script async src="https://www.googletagmanager.com/gtag/js?id=UA-178045609-1"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-178045609-1'); </script>
        <meta name="viewport" content="width=device-width, initial scale=1.0"/>
        <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="shortcut icon" href="{% static 'logo.svg' %}" type="image/svg+xml">


        <link  href="{% static 'guidelines.css' %}"  rel="stylesheet">

        <title>Community Guidelines</title>
    </head>

    <body>

        <nav class="top-navbar">
            <h1 class="webname">Zedway | community guidelines</h1>
        </nav>



        <div class="container">

            <div id="main" class="text-section">
                
                <h2>Community Guidelines</h2>

                <p>Zedway is a place where people can express themselves independently. We try to serve our users with the best possible experience.</p><br>
                <p> We present our community guidelines because we want Zedway to be a safe and positive space for the nurture and expression of talent. This goal can only be fulfilled when our users realise that they have an essential role in creating a supportive and welcoming environment in the community.</p><br>

                <p>While we strongly believe in upholding these guidelines, we request the users to acknowledge the importance of these community guidelines as well.</p><br>

                <ul>
                    <li><p class="heading">Post content that you have created.</p><br>
                        <p>Originality of the content matters and it is important for every user to post the content created by them. We want the users of this community to see authentic content. We understand that there might be circumstances when you may want to share content created by other users, in that case, remember to ask for their permission and give them their well deserved credit as well.</p>
                    </li>
                    <br>

                    <li><p class="heading">Make Sure that the content posted by you is appropriate for a diverse community.</p><br>
                        <ul>
                            <li>If you’re addressing a sensitive issue, always mention a disclaimer before hand.</li><br>
                            <li>In case you mark an explicit/inappropriate post as ‘Safe for Children’,the post will be removed. Frequent violation of this rule may result in permanent suspension of account.</li><br>
                            <li>Do not post anything with the intention of harming yourself or someone else, harassing, threatening, exploiting, shaming or bullying.</li><br>
                            <li>Racist/Homophobic/Transphobic/Misogynistic Content will not be tolerated by us.</li><br>
                            <li>Hate has no place in the Zedway community. Don’t upload any type of content with the intention of harming or dehumanizing people on the basis of their sexual orientation or to spread hate for people who suffer with a disability or disease or any other criteria.</li><br>
                        </ul>
                    </li>

                    <li><p class="heading">Double check the content you upload</p><br>


                        <p>Check the degree of truth in whatever you post. False information can spread easily and can be hazardous to various people. Therefore, we highly discourage the posting of any “news” or “fact” without checking it’s validity.</p>
                    </li><br>

                    <li><p class="heading">Remember the law. Do not use your account to promote any kind of criminal or uncivil activities.</p><br>
                        <ul>
                            <li>Content that supports/promotes terrorism will not be tolerated by us.</li><br>
                            <li>Buying or selling of illegal items such as illicit drugs, weapons, animals and/or their parts is not allowed.</li><br>
                            <li>Do not spam people with offers of sexual services.</li><br>
                            <li>Accouts/Posts that show animal abuse and/or promote it will be removed by us.</li><br>
                            <li>Do not promote posts or accounts with suggestive/explicit/provocative content.</li><br>
                        </ul>
                    </li>

                    <li><p class="heading">Respect the privacy of everyone belonging to this community.</p><br>


                        <p>Do not reveal the personal information of another user such as their address, phone number, financial information and other private information without their consent.</p>
                    </li><br>
                </ul><br><br>

                <p class="footer">Members of this community have the freedom to report any account/post if they feel there is something questionable or wrong about it. If your content has been reported, we will go through it thoroughly and if we find the request genuine, you will be informed about the steps we will take. You can contact us if you find that the report request is not valid. Report requests will be taken seriously.</p><br>
                <p>If any of our users violates the community guidelines mentioned above, the consequences will differ according to the degree of violation performed.</p><br>
                <p>Note: The content/opinions posted on this website do not represent the views of the website or the creators of this website .</p><br><br>



                <p>For further queries, do not hesitate to contact us <a href="/contact">here</a>.</p><br><br>


            </div>



              
        </div>


        <nav class="navbar">
      
            <a href="/about" class="navlink">
            <span class="material-icons"> group </span>
            <span class="nav-text"><strong>About Us</strong></span>
            </a>
      
            <a href="/contact" class="navlink">
              <span class="material-icons"> mail </span>
              <span class="nav-text"><strong>Contact us</strong></span>
            </a>
      
            <a href="/accounts/register" class="navlink">
              <span class="material-icons"> login </span>
              <span class="nav-text"><strong>Sign Up</strong></span>
            </a>
        </nav>
         
          <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
          <script type="text/javascript">
            $(document).on('click', 'nav a',  function(){
                $(this).addClass('active').siblings().removeClass('active')
            })
           
           </script>


    </body>
</html>
