{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics --> <script async src="https://www.googletagmanager.com/gtag/js?id=UA-178045609-1"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-178045609-1'); </script>
	    <link href="{% static 'hashtag.css' %}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial scale=1.0"/>
        <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
        <link rel="shortcut icon" href="{% static 'logo.svg' %}" type="image/svg+xml">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
     <title>{{ hashtag }}</title>
    </head>

    <style>
        :root {
    --accent-color1: {{ user.userprofile.accent1 }};
    --accent-color2: {{ user.userprofile.accent2 }};
    --my-gradient: linear-gradient(45deg, var(--accent-color1), var(--accent-color2));
  }
    </style>
    <body>

        <nav class="top-navbar">
                
            <h1 class="webname">Zedway | {{ hashtag }}</h1>
	    {% if user in all_f %}
	    	<a href="/follow/{{ word }}" class="follow">Unfollow</a>
	    {% else %}
            	<a href="/follow/{{ word }}" class="follow">Follow</a>
	    {% endif %}
        </nav> 


    <div class="main-content">
            {% for post in qs_posts reversed %}

	                        <div class="post">

                        <div class="header">
                            <a href="/accounts/{{ post.creator.userprofile.slug }}" style='text-decoration: none; color:white;'><div class="profile-info"><img class="profile-pic" src="/media/{{ post.creator.userprofile.image }}">{{ post.creator.username }}</div></a>
                        </div>
                        <a style='text-decoration: none; color:white;' href="/posts/{{ post.slug }}"><div class="post-title">{{ post.title }}</div></a>


			{% if post.type == 'IMG' %}


                        <div class="picture">
                            <img src="/media/{{ post.file }}" alt="picture">
                        </div>


                	{% elif post.type == 'AU' %}

                        <div class="picture plyr">
                            <audio controls>
                                <source src="/media/{{ post.file }}" type="audio/mp3">
                            </audio>
			</div>


                	{% elif post.type == 'VID' %}

                        <div class="picture">
                            <video
                                id="my-video"
                                class="video-js vjs-theme-sea"
                                controls
                                preload="auto"
                                data-setup="{}"
                            >
                                <source src="/media/{{ post.file }}" type="video/mp4">
                            </video>
                        </div>


                	{% elif post.type == 'TXT' %}


                        <div class="text">
                            <p>{{ post.desc  }}</p></div>

			{% endif %}

		<div class="cta-btn" id="par">


                    {% if request.user not in post.liked.all %}
		    <button id="{{ post.id }}" class="material-icons like" style='color: #aaafae' value="{{ post.id }}">favorite</button>
                    {% else %}
		    <button id="{{ post.id }}" class="material-icons like liked" style='color: #e71f5b' value="{{ post.id }}">favorite</button>
                    {% endif %}

                    <span class="likes"><a href="{% url 'posts:likes' slug=post.slug %}" style='color: #6666CF' class="liked-by-link">{{ post.liked.all.count }} likes</a></span>
			    <span class="views"><a href="{% url 'posts:view-post' slug=post.slug %}" style='color: #6666CF'>{{ post.comments.all.count }} views</span></a>
                            <a class="material-icons view" href='/posts/{{ post.slug }}' style='text-decoration: none; color: #6666CF;'>chat_bubble_outline</a>
                        </div>
	
			{% if post.type != 'TXT' %}
                        <div class="post-caption">{{ post.desc  }}</div>
			{% endif %}

                    </div>

            {% endfor %}


    </div>
   

    <nav class="navbar">
        <a href="/" class="navlink">
           <span class="material-icons">dashboard</span>
          <span class="nav-text"><strong>Dashboard</strong></span>
        </a>
      
        <a href="/explore" class="navlink">
        <span class="material-icons"> explore </span>
        <span class="nav-text"><strong> Explore </strong></span>
        </a>
      
        <a href="/search" class="navlink active">
          <span class="material-icons"> search </span>
          <span class="nav-text"><strong>Search </strong></span>
        </a>
      
        <a href="/accounts/{{ user.userprofile.slug }}" class="navlink">
          <span class="material-icons"> person_pin </span>
          <span class="nav-text"><strong>Profile</strong></span>
        </a>
      </nav>
     
      <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

      	<script>

          $('.like').click(function (){
                  var post_id = $(this).val();
		  if (this.style.color === "rgb(231, 31, 91)")
                  {
                  var status = 'liked';
                  } else {
                  var status = 'unliked';
                  }

                  $.ajax({
                  url: '/posts/ajax-like',
                  data: {
                    'post_id': post_id,
                    'status': status,
                  },
                  dataType: 'json',
                  success: function(data) {
                  var count = data.count + ' likes';
		  var post_id = data.post_id;
		  var post_id_jq = '#' + data.post_id;
                  if (data.status === 'liked') {
			  document.getElementById(post_id).style.color = "#e71f5b";
                          $(post_id_jq).siblings(".likes").children(".liked-by-link").text(count);
                  } else {
			  document.getElementById(post_id).style.color = "#aaafae";
                          $(post_id_jq).siblings(".likes").children(".liked-by-link").text(count);
                  }
                  }
                  });
            });

        </script>

      <script type="text/javascript">
        $(document).on('click', 'nav a',  function(){
            $(this).addClass('active').siblings().removeClass('active')
        })
       
       </script>

    </body>
</html>
