{% load static %}
<!DOCTYPE html>
<html>
<head>
<!-- Global site tag (gtag.js) - Google Analytics --> <script async src="https://www.googletagmanager.com/gtag/js?id=UA-178045609-1"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-178045609-1'); </script>
<title>Zedway</title>
<meta name="viewport" content="width=device-width, initial scale=1.0"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="shortcut icon" href="{% static 'logo.svg' %}" type="image/svg+xml">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
<link rel="stylesheet" href="{% static 'landingpage.css' %}">
</head>
<body>
    <header class="main-header">
        <div class="webname">
            <img src="{% static 'webname.svg' %}">
        </div>
        <p>See the World, Flaunt the Feel</p>
        <div class="headerbuttons">
            <a href="/accounts/register" class="cta-btn" data-aos="fade-down">Sign Up | Sign In</a>
        </div>
    </header>

    <main class="container">

        

        <section class="box" data-aos="fade-left">
            <img src="{% static 'express.svg' %}" alt="image">
            <div>
                <h3>Discover. Express. Inspire.</h3>
                <p>Discover the latest trends and express yourself like never before with audio, video, image and text. Inspire others in the process and become a known member of the community! </p>
                <a href="/accounts/register/" class="button">Sign Me Up!</a>
            </div>
        </section>

        <section class="box" data-aos="fade-right">
            <img src="{% static 'generations.svg' %}" alt="image">
            <div>
                <h3 class="typing">You are <span class="strike">not</span> old enough.</h3>
                <p>Expression of talent requires no specific age. You're welcome to join Zedway if you've just learnt to crawl or even if your hair has started greying!</p>
                <a href="/security-policy" class="button">Security</a>
            </div>
        </section>

        <section class="box" data-aos="fade-left">
            <img src="{% static 'safe.svg' %}" alt="image">
            <div>
                <h3>Once a safe community, always a safe community...</h3>
                <p>With a meticulous set of community guidelines, you can get inappropriate content removed immediately by reporting it, thus helping in keeping the community safe for you and your loved ones.</p>
                <a href="/community-guidelines" class="button">Community Guidelines</a>
            </div>
        </section>

        <section class="box" data-aos="fade-right">
            <img src="{% static 'support.svg' %}" alt="image">
            <div>
                <h3>See. Feel. Support</h3>
                <p>Give and get constructive feedback from other members of the community. Branch out to the world from the tiny screen of your device!</p>
                <a href="/accounts/register/" class="button">Sign Me Up!</a>
            </div>
        </section>

        <footer>
            <a href="/privacy-policy" class="link">Privacy Policy</a>
            <a href="/cookies-policy" class="link">Cookies Policy</a>
            <a href="/community-guidelines" class="link">Community Guidelines</a>
            <a href="/terms-of-use" class="link">Terms of Use</a>
        </footer>

    </main>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
          offset: 400,
          duration: 950
      });
    </script>

</body>
</html>
