{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In!</title>
    <link rel="stylesheet" href="{% static 'signin.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'logo.svg' %}" type="image/svg+xml">

</head>
<body>

    <nav class="top-navbar">
        <h1 class="webname">Zedway</h1>
    </nav>

    <div class="box">
        <form method='post' action='/accounts/login/'>
	{% csrf_token %}
            <h3>Welcome Back!</h3>
                
              	<input type="text" placeholder="Email/Username" class="input username" name='username' required/>
            <br>
            <div class="show">
            <input type="password" placeholder="Password" class="input password" name='password' required/>
	    <img src="{% static 'hide.svg' %}" class="off">
            </div>
            <br>
            <input type="submit" value="Sign In!" class="submit" />
            <br>
            <h4>Don't have an account? <a href="register">Sign Up</a> today!</h4><br>
            <h4><a href="/accounts/reset-password">Forgot Password</a></h4>
            <br>
            <a href="#" class="google"><p>Sign In with</p><img src="google.svg"></a>

	    {% for message in messages %}
	 	   <h5>{{ message }}</h5>
            {% endfor %}
        </form>
    </div>

    <nav class="navbar">
      
        <a href="/about" class="navlink">
        <span class="material-icons"> group </span>
        <span class="nav-text"><strong>About Us</strong></span>
        </a>
  
        <a href="contact" class="navlink">
          <span class="material-icons"> mail </span>
          <span class="nav-text"><strong>Contact us</strong></span>
        </a>
  
        <a href="/accounts/register" class="navlink active">
          <span class="material-icons"> login </span>
          <span class="nav-text"><strong>Sign Up</strong></span>
        </a>
    </nav>


    <script>

      const eyeToggle = document.querySelector('.off');
      const passwordInput = document.querySelector('.password');
      const img = document.querySelector('.off');
      var input = true;
      eyeToggle.addEventListener('click', function() {
        if (input) {
          passwordInput.setAttribute('type', 'text');
		img.setAttribute('src', '{% static "show.svg" %}');
        } else {
           passwordInput.setAttribute('type', 'password');
		img.setAttribute('src', '{% static "hide.svg" %}');
        }
        input = !input
      });
      
    </script>
    
  </body>
</html>
