{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics --> <script async src="https://www.googletagmanager.com/gtag/js?id=UA-178045609-1"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-178045609-1'); </script>
        <meta name="viewport" content="width=device-width, initial scale=1.0"/>
        <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="shortcut icon" href="{% static 'logo.svg' %}" type="image/svg+xml">

	<link  href="{% static 'postaudio.css' %}"  rel="stylesheet">

        <title>Add post</title>
    </head>

    <body>

        <nav class="top-navbar">
            <h1 class="webname">Zedway | add post</h1>
        </nav>


        <div class="form-container">

            <form id="form2" class="input-section" method='post' action='/posts/new/' enctype='multipart/form-data'>
                {% csrf_token %}
                <h3>Add post</h3>

                <input name="file" type="file" id="accept-file" accept=".mp3" hidden="hidden" required>
                <div class="file-input">
                <button type="button" id="custom">Choose Audio</button>
                <span id="button-text">Please choose a file.</span>
                </div>
                <br>


                <label for="post_title">Post Title: </label>
                <input type="text"  class="input" maxlength="43" name='title' />
                <br>
                <br>

                <label for="post_title">Caption: </label>
                <input type="text"  class="input" name='desc'/>
                <input type="hidden" name="type" value="AU" />
                <br>
                <br>

                <label for="tags">Enter hashtags: </label>
                <input type="text"  class="input" name="tags"/>
                
                <br>
                <br>

                <p>Is this audio safe for children?</p>

                <input type="radio" name="is_safe" value="True" />
                <label for="yes">Yes</label><br>

                <input type="radio" name="is_safe" value="False" />
                <label for="no">No</label><br>
                <br>
                <br>

                <p>This post should be visible:</p>

                <input type="radio" name="explore" value="False" />
                <label for="followers">To my followers only</label><br>

                <input type="radio" name="explore" value="True" />
                <label for="explorepage">On the Explore page</label><br>


                <input type="submit" value="Post!" class="next-button">
            </form>
        </div>
        </div>


        </div>


        <nav class="navbar">
            <a href="/" class="navlink active">
                <span class="material-icons">dashboard</span>
                <span class="nav-text"><strong>Dashboard</strong></span>
            </a>

            <a href="/explore" class="navlink">
                <span class="material-icons"> explore </span>
                <span class="nav-text"><strong> Explore </strong></span>
            </a>

            <a href="/search" class="navlink">
                <span class="material-icons"> search </span>
                <span class="nav-text"><strong>Search </strong></span>
            </a>

            <a href="/accounts/{{ user.userprofile.slug }}" class="navlink">
                <span class="material-icons"> person_pin </span>
                <span class="nav-text"><strong>Profile</strong></span>
            </a>
        </nav>
	
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="static/inputtags.js"></script>
        <script type="text/javascript">
         $(document).on('click', 'nav a',  function(){
             $(this).addClass('active').siblings().removeClass('active')
         })

            const actualButton = document.getElementById("accept-file");
            const newButton = document.getElementById("custom");
            const buttonText = document.getElementById("button-text");

            newButton.addEventListener("click", function() {
              actualButton.click()
            });

            actualButton.addEventListener("change", function(){
              if (actualButton.value) {
                buttonText.innerHTML = actualButton.value.match( /[\/\\]([\w\d\s\.\-\(\)]+)$/)[1];
              } else  {
                buttonText.innerHTML = "Please choose a file.";
              }
            })

        </script>


    </body>
</html>
