{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics --> <script async src="https://www.googletagmanager.com/gtag/js?id=UA-178045609-1"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-178045609-1'); </script>
        <meta name="viewport" content="width=device-width, initial scale=1.0"/>
        <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="shortcut icon" href="{% static 'logo.svg' %}" type="image/svg+xml">


        <link  href="{% static 'privacypolicy.css' %}"  rel="stylesheet">

        <title>Privacy Policy</title>
    </head>

    <body>

        <nav class="top-navbar">
            <h1 class="webname">Zedway | privacy policy</h1>
        </nav>



        <div class="container">

            <form id="main" class="text-section">
                
                <h2>Privacy Policy of <span>Zedway</span></h2>
       
                <p>Your privacy is of the utmost importance to us and it is our responsibility to inform you about what information we may collect and how we might use it.</p><br><br>

                <p class="heading">Information we collect</p><br><br>
                <p>When you sign up, we only collect information that is truly required. This includes your Name, email and date of birth. This is required for the basic building of your profile page and will NOT be used by us in any other way. <br><br>
                When you use this website, we receive information such as the kind of device/browser that you’re using. However, this will only be used to enhance your experience on this website. <br><br>
                Besides the above mentioned, we will not collect any personal information without your consent.</p><br><br>

                <p class="heading">Disclosure of information</p><br><br>
                <p>We will disclose personal data supplied by you only if the any of the following situation arises-</p><br><br>
                     <ul>
                       <li> If required by law or competent governmental or judicial authorities. </li><br>
                       <li> To establish or reserve a legal claim or defence. </li><br>
                       <li> If considered necessary to negotiate with you. </li><br>
                       <li>If considered necessary by us to prevent any illegal activities against Zedway. </li>  
                    </ul>
                    <br>
                    <br>

                <p class="heading">Our humble request to the users</p><br><br>
                <p>While we respect your privacy, we also request you to avoid posting any sensitive personal information on this website in the form of text/pictures/videos/audio. <br><br>
                While using this website, you may come across links to other websites that have been posted by other individuals/communities. Please be aware that we do not have any control over the privacy policies of such websites and cannot be held responsible for their actions.</p><br><br>

                <p>If you have any more queries about this policy, do not hesitate to contact us <a href="#">here</a>.</p><br><br>

                <div class="footer">*This policy is not applicable to any information collected offline or via channels other than this website.</div>


              
        </div>
        </div>


        </div>


        <nav class="navbar">
      
            <a href="/about" class="navlink">
            <span class="material-icons"> group </span>
            <span class="nav-text"><strong>About Us</strong></span>
            </a>
      
            <a href="/contact" class="navlink">
              <span class="material-icons"> mail </span>
              <span class="nav-text"><strong>Contact us</strong></span>
            </a>
      
            <a href="/accounts/register" class="navlink">
              <span class="material-icons"> login </span>
              <span class="nav-text"><strong>Sign Up</strong></span>
            </a>
        </nav>
         
          <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
          <script type="text/javascript">
            $(document).on('click', 'nav a',  function(){
                $(this).addClass('active').siblings().removeClass('active')
            })
           
           </script>


    </body>
</html>
