{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics --> <script async src="https://www.googletagmanager.com/gtag/js?id=UA-178045609-1"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-178045609-1'); </script>
        <meta name="viewport" content="width=device-width, initial scale=1.0"/>
        <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="shortcut icon" href="{% static 'logo.svg' %}" type="image/svg+xml">


        <link  href="{% static 'report.css' %}"  rel="stylesheet">

        <title>Report Content</title>
    </head>

    <body>

        <nav class="top-navbar">
            <h1 class="webname">Zedway | report</h1>
        </nav>


        <div class="form-container">

            <form id="form2" class="input-section" method='post' action='report'>
                {% csrf_token %}
                <h3>Please tell us the reason why you've chosen to report this :</h3>
                <!--

                     <input type="radio" class="input" name="report" value="spam">
                     <label for="spam">It's spam</label><br>

                     <input type="radio" class="input" name="report" value="vulgar">
                     <label for="vulgar">Uncivil or vulgar</label><br>

                     <input type="radio" class="input" name="report" value="shaming">
                     <label for="shaming">Public Shaming</label><br>

                     <input type="radio" class="input" name="report" value="shaming">
                     <label for="shaming">Body Shaming</label><br>

                     <input type="radio" class="input" name="report" value="threatens">
                     <label for="threatens">Threatens someone's safety</label><br>

                     <input type="radio" class="input" name="report" value="fraud">
                     <label for="fraud">It's fraud</label><br>

                     <input type="radio" class="input" name="report" value="impersonation">
                     <label for="impersonation">Impersonation</label><br>

                     <input type="radio" class="input" name="report" value="harassment">
                     <label for="harassment">Harassment</label><br>

                     <input type="radio" class="input" name="report" value="illegal">
                     <label for="illegal">Supports illegal activity</label><br>

                     <input type="radio" class="input" name="report" value="hate">
                     <label for="hate">Hate Speech/Symbols</label><br>

                     <input type="radio" class="input" name="report" value="bullying">
                     <label for="bullying">Transphobic / Homophobic / Racist / Misogynistic content</label><br>

                     <input type="radio" class="input" name="report" value="fake-info">
                     <label for="fake-info">Spreads rumours or fake information</label><br>

                     <input type="radio" class="input" name="report" value="abuse">
                     <label for="abuse">Animal abuse</label><br>

                     <input type="radio" class="input" name="report" value="violent">
                     <label for="violent">Violent Content</label><br>

                     <input type="radio" class="input" name="report" value="triggering">
                     <label for="triggering">Triggering/Provoking</label><br>

                     <input type="radio" class="input" name="report" value="inappropriate">
                     <label for="inappropriate">Inappropriate</label><br> -->

                <textarea placeholder="Remarks..." name='message'></textarea>





                <input type="submit" value="Report" class="next-button">
            </form>
        </div>
        </div>


        </div>


        <nav class="navbar">
            <a href="/" class="navlink">
               <span class="material-icons">dashboard</span>
              <span class="nav-text"><strong>Dashboard</strong></span>
            </a>
          
            <a href="/explore" class="navlink">
            <span class="material-icons"> explore </span>
            <span class="nav-text"><strong> Explore </strong></span>
            </a>
          
            <a href="/search" class="navlink">
              <span class="material-icons"> search </span>
              <span class="nav-text"><strong>Search </strong></span>
            </a>
          
            <a href="/accounts/{{ user.userprofile.slug }}" class="navlink">
              <span class="material-icons"> person_pin </span>
              <span class="nav-text"><strong>Profile</strong></span>
            </a>
          </nav>
         
          <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
          <script type="text/javascript">
            $(document).on('click', 'nav a',  function(){
                $(this).addClass('active').siblings().removeClass('active')
            })
           
           </script>


    </body>
</html>
