{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics --> <script async src="https://www.googletagmanager.com/gtag/js?id=UA-178045609-1"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-178045609-1'); </script>
        <meta name="viewport" content="width=device-width, initial scale=1.0"/>
        <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="shortcut icon" href="{% static 'logo.svg' %}" type="image/svg+xml">


        <link  href="{% static 'settings.css' %}"  rel="stylesheet">

        <title>Settings</title>
    </head>

    <body>

        <nav class="top-navbar">
            <h1 class="webname">Zedway | settings</h1>
            
            <div class="logout">
                <a href="/accounts/logout" style="text-decoration: none; color: #636363"><h3>Logout</h3></a>
            </div>
        </nav>


        <div class="form-container">

            <form id="form2" class="input-section" method='post' action='/accounts/settings/' enctype="multipart/form-data">
                {% csrf_token %}
                <h3>Settings</h3>

                <a href="/update-profile" class="button">Update Profile Picture</a>

                <br>
                <br>

                <label for="first_name">First Name: </label>
                <input type="text" class="input" name='fn' value='{{ user.first_name }}'>

                <br>
                <br>

                <label for="last_name">Last Name: </label>
               <input type="text" class="input" name='ln' value='{{ user.last_name }}'>

               <br>
               <br>

               <label for="email">Email: </label>
               <input type="email" class="input" name='email' value='{{ user.email }}'>

               <br>
               <br>

    
                <label for="Account-description">Account Description: </label>
                <input type="text"  class="input" maxlength="185" value='{{ user.userprofile.bio  }}' name='bio'/>
                <br>
                <br>

                <label for="colors">Change gradient: </label><br>
                <input type="color" class="color" value="{{ user.userprofile.accent1 }}" name='accent1' />
                <input type="color" class="color" value="{{ user.userprofile.accent2}}" name='accent2'/>

                <br>
                <br>
                <br>

                <a href="/accounts/reset-password/" class="reset">Reset Password</a>


                <input type="submit" value="Save Changes" class="next-button">
            </form>
        </div>


        <nav class="navbar">
            <a href="/" class="navlink">
               <span class="material-icons">dashboard</span>
              <span class="nav-text"><strong>Dashboard</strong></span>
            </a>
          
            <a href="/explore" class="navlink active">
            <span class="material-icons"> explore </span>
            <span class="nav-text"><strong> Explore </strong></span>
            </a>
          
            <a href="/search" class="navlink">
              <span class="material-icons"> search </span>
              <span class="nav-text"><strong>Search </strong></span>
            </a>
          
            <a href="/accounts/{{ user.userprofile.slug }}" class="navlink">
              <span class="material-icons"> person_pin </span>
              <span class="nav-text"><strong>Profile</strong></span>
            </a>
          </nav>
         
          <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
          <script type="text/javascript">
            $(document).on('click', 'nav a',  function(){
                $(this).addClass('active').siblings().removeClass('active')
            })

            const actualButton = document.getElementById("accept-file");
            const newButton = document.getElementById("custom");
            const buttonText = document.getElementById("button-text");

            newButton.addEventListener("click", function() {
              actualButton.click()
            });

            actualButton.addEventListener("change", function(){
              if (actualButton.value) {
                buttonText.innerHTML = actualButton.value.match( /[\/\\]([\w\d\s\.\-\(\)]+)$/)[1];
              } else  {
                buttonText.innerHTML = "Please choose a file.";
              }
            })
           
           </script>


    </body>
</html>
