{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics --> <script async src="https://www.googletagmanager.com/gtag/js?id=UA-178045609-1"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-178045609-1'); </script>
        <meta name="viewport" content="width=device-width, initial scale=1.0"/>
        <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="shortcut icon" href="{% static 'logo.svg' %}" type="image/svg+xml">
        <link rel="stylesheet" href="{% static 'signup1.css' %}">

        <title>Sign Up/Sign In</title>
    </head>

    <body>

        <nav class="top-navbar">
            <h1 class="webname">Zedway</h1>
        </nav>


        <div class="form-container">
            <div class="toggle-button">
                <div id="button-style"></div>
                <button type="button" id="btn-1" class="button sign-in" onclick="signup()">Sign Up</button>
                <button type="button" id="btn-2" class="button sign-up" onclick="signin()">Sign In</button>
            </div>

            <form id="sign-up" class="input-section" method='post' action='/accounts/register/'>
                {% csrf_token %}
                <h3>Hello There!</h3>
                <h4>Don't miss out on all the fun! Sign up today...</h4><br>

                <label for="first_name">First Name: </label>
                <input type="text" class="input" name='first_name' required>

                <label for="last_name">Last Name: </label>
                <input type="text" class="input" name='last_name' required>

                <label for="email">Email: </label>
                <input type="email" class="input" name='email' required>

                <label for="Username">Username: </label><br>
                <div class="username">
                <span class="material-icons symbol">alternate_email</span>
                <input type="text" class="input username" maxlength="30" name='username'  required>
                </div>

                <label for="passwd">Password: </label>
                <input type="password" class="input" name='password' required>

                <label for="passwd">Confirm Password: </label>
                <input type="password" class="input"  required name='c_password'><br>


                <div class="checkbox">
                    <input type="checkbox" name="termsofuse" value="agree" required>
                    <label for="agree">I agree to Zedway's <a href="/terms-of-use"">terms of use</a>.</label>
                </div>
                

            {% for message in messages %}
                <h5>{{ message }}</h5>
            {% endfor %}

                <input type="submit" class="next-button" value="Next">
            </form>

            <form id="sign-in" class="input-section" action='/accounts/login/' method='post'>
                {% csrf_token %}
                <h3>Welcome Back,</h3>
                <h4>Sign in and stay connected with your loved ones!</h4><br>

                <label for="Username">Username: </label><br>
                <div class="username">
                <span class="material-icons symbol">alternate_email</span>
                <input type="text" class="input username" maxlength="30" name='username'  required>
                </div>

                <label for="passwd">Password: </label>
                <input type="password" class="input" required name='password'>

                {% for message in messages %}
                    <h5>{{ message }}</h5>
                {% endfor %}

                <h5><a href="/accounts/reset-password">Forgot password?</a></h5>

                <input type="submit" class="next-button" value="Submit">
            </form>


        </div>


        <nav class="navbar">

            <a href="/about" class="navlink">
                <span class="material-icons"> group </span>
                <span class="nav-text"><strong>About Us</strong></span>
            </a>

            <a href="/contact" class="navlink">
                <span class="material-icons"> mail </span>
                <span class="nav-text"><strong>Contact us</strong></span>
            </a>

            <a href="/accounts/register" class="navlink active">
                <span class="material-icons"> login </span>
                <span class="nav-text"><strong>Sign Up</strong></span>
            </a>
        </nav>

        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        
        <script type="text/javascript">
         $(document).on('click', 'nav a',  function(){
             $(this).addClass('active').siblings().removeClass('active')
         })

         var v = document.getElementById("btn-1");
         var w = document.getElementById("btn-2");
         var x = document.getElementById("sign-up");
         var y = document.getElementById("sign-in");
         var z = document.getElementById("button-style");


         function signin(){
             x.style.left = "-400px";
             y.style.left = "80px";
             z.style.left = "120px";
             v.style.color = "#6d6c6c"
             w.style.color = "#fff";
         }

         function signup(){
             x.style.left = "85px";
             y.style.left = "490px";
             z.style.left = "0";
             v.style.color = "#fff";
             w.style.color = "#6d6c6c"

         }
         
        </script>


    </body>
</html>
