{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics --> <script async src="https://www.googletagmanager.com/gtag/js?id=UA-178045609-1"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-178045609-1'); </script>
        <meta name="viewport" content="width=device-width, initial scale=1.0"/>
        <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="shortcut icon" href="{% static 'logo.svg' %}" type="image/svg+xml">


        <link  href="{% static 'termsofuse.css' %}"  rel="stylesheet">

        <title>Terms Of Use</title>
    </head>

    <body>

        <nav class="top-navbar">
            <h1 class="webname">Zedway | terms of use</h1>
        </nav>



        <div class="container">

            <div id="main" class="text-section">
                
                <h2>Terms of Use</h2>

                <p><strong>Welcome to Zedway</strong></p><br>

                    <p>Zedway is a place where people showcase or even discover their talent. We try to bring the best possible service to all the members of this community. We try to make sure that no one is uploading the content which violates our policies. We do all of this to make Zedway a better place for our users. All of this is possible because of our service policies, hence, we present our user agreement to ensure and maintain the environment we expect. </p>
                    <br>
                    <br>
                   <p>These terms and conditions are an agreement between our users and us so that we can control liability, manage use, protect our intellectual property and enforce rules. If you use our service, you must abide these clauses and you agree to these terms of service. You also confirm to read and agree our cookie policy, community guidelines and our service policies.</p>
                   <br>
                   <br>
                  <p>We don’t collect any information without telling you and if you want a brief about our privacy policy, click <a href="/contact">here</a>. However, we may collect a little information for a personalized experience on our website.</p>
                  <br>
                  <br>
                  <br>
                  <p>Zedway helps you to get connected to the people, to discover new talent,  and come across new organizations and various groups. We use the data that we have to make suggestions for you and others   and people who you may want to become friends with. We believe that our services can be useful when people are connected to people, groups and organizations that they care about.</p>
                  <br>
                  <br>
                  <p>Using this website, our users get connected and showcase their talent in an independent way to the people across the website in form of photos, videos, audios and text.</p>
                  <br>
                  <br>
                  <p>People will only build community on Zedway if they feel safe. Our dedicated team keeps a track on activities to detect misuse of our services, harmful conduct towards others and situations where we may be able to help support or protect our community. If we acknowledge content or conduct like this, we will take appropriate action – for example, offering help, removing content, removing or restricting access to certain features, disabling an account or contacting law enforcement.</p>
                  <br>
                  <br>
                  <p>Our team works 24/7 to give you the best outcome and a smooth experience on our website. There are a few commitments we would like to tell you all about.

                    To make this community safer, we would like you to:</p>
                    <br>
                    <ul>
                        <li> Provide accurate information about yourself;</li><br>
                        <li> Create your own/original account;</li><br>
                        <li> Not to share your password, give access to your Zedway account to others or transfer your account to anyone else (without our permission)</li><br>
                    </ul>
                    <br>
                    <br>
                    <p>You cannot use our services if:</p>
                    <br>
                    <ul>
                        <li>You are under the age of 13 (or the minimum legal age in your country to use our services) and using this website without Parental Supervision. </li><br>
                        <li>We've previously disabled your account for violations of our Terms or Policies.</li><br>
                        <li> You are prohibited from using our features, services or software under applicable laws.</li><br>
                    </ul>
                    <br>
                    <br>
                    <p>You may not use services of Zedway to share anything:</p>
                    <ul>
                        <li>That breaches these Terms, our community guidelines and other terms and policies that apply to your use of Zedway.</li><br>
                        <li> That is unlawful, misleading, discriminatory or fraudulent.</li><br>
                        <li>That infringes or violates someone else's rights, including their intellectual property rights.</li>
                    </ul>
                    <br>
                    <p>Moreover, you are not allowed to:</p>
                    <ul>
                        <li>Upload viruses or malicious code, or do anything that could disable, overburden or impair the proper working or appearance of our services.</li><br>
                        <li>Access or collect data from our Products using automated means (without our prior permission) or attempt to access data that you do not have permission to access.</li>

                    </ul>
                    <br>
                    <br>
                    <p>We can remove or restrict access to content that is in violation of these provisions.If we remove content that you have shared in violation of our Community Standards, we'll let you know and explain any options you have to request another review, unless you seriously or repeatedly violate these Terms or if doing so may expose us or others to legal liability; harm our community; compromise or interfere with the integrity or operation of any of our services, systems or Products; where we are restricted due to technical limitations; or where we are prohibited from doing so for legal reasons</p>
                    <br>
                    <br>
                    <p>To help support our community, we encourage you to report content or conduct that you believe violates your rights or our terms and policies.</p>
                    <br>
                    <p>If you use content covered by intellectual property rights that we have and make available in our Products (for example, images, designs, videos or sounds that we provide, which you add to content that you create or share on Zedway), we retain all rights to that content but not yours. You can only use our copyrights or trademarks with our prior written permission.</p>
                    <br>
                    <br>
                    <p>To make zedway a safe place for everyone, we may suspend or terminate your account if it breaches, harms or violates our terms of service or our community guidelines. If we acknowledge that you have repeatedly breached our service policies, we may disable  or permanently ban your account. If you harm the intellectual property rights of the users of this community, we may perform some actions regarding this. Every time we take an action, we will let you know the required information about it</p>
                    <br>
                    <br>
                    <p>We at Zedway work very hard to provide the best services we can and to clarify proper guidelines for everyone who uses them. Our service is genuine most of the time but we don’t guarantee them to be safe, secure or blunder/error-free, or that they will function without disruptions, delays or imperfections. To the extent permitted by law, we also DISCLAIM ALL WARRANTIES, WHETHER EXPRESS OR IMPLIED, INCLUDING THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT. We do not control or direct what people and others do or say, and we are not responsible for their actions or conduct (whether online or offline) or any content that they share (including offensive, inappropriate, obscene, unlawful and other objectionable content). Yes, if it is reported, we will take the appropriate action.</p>
                    <br>
                    <br>
                    <p>We are always open for your feedback and queries, you can contact us ‘here’. We want all the members of this community to abide and respect these terms and conditions, privacy policy and community guidelines.Zedway can be a perfect place to glorify the right talent and to support every organisation only if all the members if this community act in alertness. If you see anything which looks questionable to you or our community, we want you to report it so that we can take quick actions on it. <br>Zedway dreams for perfection.</p>
                    <br>
                    <br>
                    <p>We want you to look at all the given policies so that you can be aware about all of our policies:</p>
                    <br>
                    <ul>
                        <li><a href="/community-guidelines">Community Guidelines</a></li>
                        <li><a href="/cookies-policy">Cookies Policy</a></li>
                        <li><a href="/privacy-policy">Privacy Policy</a></li>
                    </ul>
                    <br>
                    <br>
    

                <p>If you have any more queries about our Terms of Use, do not hesitate to contact us <a href="/contact">here</a>.</p><br><br>


            </div>



              
        </div>


        <nav class="navbar">
      
            <a href="/about" class="navlink">
            <span class="material-icons"> group </span>
            <span class="nav-text"><strong>About Us</strong></span>
            </a>
      
            <a href="/contact" class="navlink">
              <span class="material-icons"> mail </span>
              <span class="nav-text"><strong>Contact us</strong></span>
            </a>
      
            <a href="/accounts/register" class="navlink">
              <span class="material-icons"> login </span>
              <span class="nav-text"><strong>Sign Up</strong></span>
            </a>
        </nav>
         
          <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
          <script type="text/javascript">
            $(document).on('click', 'nav a',  function(){
                $(this).addClass('active').siblings().removeClass('active')
            })
           
           </script>


    </body>
</html>
