{% load static %}
{% load notifications_tags %}
<!DOCTYPE html>
<html>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics --> <script async src="https://www.googletagmanager.com/gtag/js?id=UA-178045609-1"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-178045609-1'); </script>
        <link href="{% static 'userprofile.css' %}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial scale=1.0"/>
        <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
        <link rel="shortcut icon" href="{% static 'logo.svg' %}" type="image/svg+xml">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">

        <link href="https://vjs.zencdn.net/7.8.4/video-js.css" rel="stylesheet" />
        <link href="https://unpkg.com/@videojs/themes@1/dist/sea/index.css" rel="stylesheet"/>

        <!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->
        <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>

        <link rel="stylesheet" href="https://cdn.plyr.io/2.0.15/plyr.css">
        <script src="https://cdn.plyr.io/2.0.15/plyr.js"></script>
        <title>{{ user.first_name }}'s profile</title>
        <style>
            :root {
    --accent-color1: {{ user.userprofile.accent1 }};
    --accent-color2: {{ user.userprofile.accent2 }};
    --my-gradient: linear-gradient(45deg, var(--accent-color1), var(--accent-color2));
}
{% if user.notifications.unread %}
nav .notifications {
    color: #428066;
}
{% endif %}

        </style>
    </head>
    <body>

        <nav class="top-navbar">

            <h1 class="webname">Zedway</h1>

            <div class="center">
		    {% if request.user == user %}
                <input type="checkbox" id="click">
                <label for="click"><span class="material-icons notifications" onclick="toggle()">notifications_active</span></label>

                <div class="popup-content" id="popup">

                    <div class="header">
                        <h2>Notifications <a href="/notifications/delete" style="text-decoration: none; color: white"> <span class="material-icons delete-notifications">delete_outline</span> </a> </h2>

                        <label for="click" class="material-icons close" onclick="toggle()">
                            close
                        </label>

                    </div>
                    <div class="notification-list">
                        {% for notification in user.notifications.unread %}
			<div class="line">
				<p>
				<a href="/accounts/{{ notification.actor.userprofile.slug }}" style='color: black;'>
					<img src="/media/{{ notification.actor.userprofile.image }}">
					{{ notification.actor }}
				</a> 
				{{ notification.verb }} 
				{% if notification.action_object == request.user %}
					<a href="/accounts/{{ notification.action_object.userprofile.slug }}" style='color: black;'>
				{% else %} 
					<a href="/posts/{{ notification.action_object.slug }}" style='color: black;'>
				{% endif %}
				{% if notification.verb == 'followed' %}
				you
				{% else %}
				your post
				{% endif %}
					</a>
				</p>
			</div>

                        {% endfor %}


                    </div>


                </div>
            </div>
	    {% endif %}
        </nav>

        <div class="profile-container" id="blur">

            <div class="profile-content">
                <div class="actions">
                    {% if request.user == user %}
                        <a href="/accounts/settings"><span class="material-icons settings">settings</span></a>
                    {% else %}
                        <a href="/accounts/{{ user.userprofile.slug }}/report"><span class="material-icons report">report_problem</span></a>
                        {% if user not in request.user.userprofile.blocked.all %}
                            <a href="/accounts/{{ user.userprofile.slug }}/block"><span class="material-icons block">lock</span></a>
                        {% else %}
                            <a href="/accounts/{{ user.userprofile.slug }}/block"><span class="material-icons unblock">no_encryption</span></a>
                        {% endif %}
                    {% endif %}
                    {% if request.user != user %}
                        {% if request.user not in user.userprofile.followers.all %}
                            <a href="/accounts/follow/{{ user.userprofile.slug }}"><span class="material-icons add">person_add</span></a>
                        {% else %}
                            <a href="/accounts/follow/{{ user.userprofile.slug }}"><span class="material-icons remove">person_remove</span></a>
                        {% endif %}
                    {% endif %}





                </div>

                <div class="pic">
                    <img class="header-pic" src="/media/{{ user.userprofile.image }}">
                    <div class="profile-name"><h2>{{ user.first_name }} {{ user.last_name }}</h2>
                        {% if user.userprofile.verified != True %}
                            <img class="verified" src="{% static 'badge.svg' %}" style="opacity:0.0;filter:alpha(opacity=00);"></div>
                        {% else %}
                            <img class="verified" src="{% static 'badge.svg' %}"></div>
                        {% endif %}
                        <h4>{{ user.username }}</h4><br>
                        <span class="bio">{{ user.userprofile.bio }}</span>
                </div>

{% if request.user not in user.userprofile.blocked.all %}
                <div class="summary">
                    <div class="extra-info">
                        <a href="/accounts/{{ user.userprofile.slug }}/followers"><span class="followers">{{ user.userprofile.followers.count }} Followers</span></a>
                        <a href="/accounts/{{ user.userprofile.slug }}/following"><span class="following">{{ user.userprofile.following.count }} Following</span></a>
                    </div>
                </div>
{% endif %}
            </div>

            <div class="main-content">

                <div class="section-label">
                    <h2>{{ user.first_name }}'s Posts</h2>
                </div>
                {% if request.user not in user.userprofile.blocked.all %}

            {% for post in posts reversed %}
                    <div class="post">

                        <div class="header">
                            <a href="/accounts/{{ post.creator.userprofile.slug }}" style='text-decoration: none; color:white;'><div class="profile-info"><img class="profile-pic" src="/media/{{ post.creator.userprofile.image }}">{{ post.creator.username }}</div></a>
                        </div>
                        <a style='text-decoration: none; color:white;' href="/posts/{{ post.slug }}"><div class="post-title">{{ post.title }}</div></a>

                	
			{% if post.type == 'IMG' %}


                        <div class="picture">
                            <img src="/media/{{ post.file }}" alt="picture">
                        </div>

		
                	{% elif post.type == 'AU' %}

                        <div class="picture plyr">
                            <audio controls>
                                <source src="/media/{{ post.file }}" type="audio/mp3">
                            </audio>
			</div>


                	{% elif post.type == 'VID' %}

                        <div class="picture">
                            <video
                                id="my-video"
                                class="video-js vjs-theme-sea"
                                controls
                                preload="auto"
                                data-setup="{}"
                            >
                                <source src="/media/{{ post.file }}" type="video/mp4">
                            </video>
                        </div>


                	{% elif post.type == 'TXT' %}


                        <div class="text">
                            <p>{{ post.desc  }}</p></div>

			{% endif %}

		<div class="cta-btn" id="par">
                    
        
                    {% if request.user not in post.liked.all %}
		    <button id="{{ post.id }}" class="material-icons like" style='color: #aaafae' value="{{ post.id }}">favorite</button>
                    {% else %}
		    <button id="{{ post.id }}" class="material-icons like liked" style='color: #e71f5b' value="{{ post.id }}">favorite</button>
                    {% endif %}

                    <span class="likes"><a href="{% url 'posts:likes' slug=post.slug %}" style='color: #6666CF' class="liked-by-link">{{ post.liked.all.count }} likes</a></span>
			    <span class="views"><a href="{% url 'posts:view-post' slug=post.slug %}" style='color: #6666CF'>{{ post.comments.all.count }} views</span></a>
                            <a class="material-icons view" href='/posts/{{ post.slug }}' style='text-decoration: none; color: #6666CF;'>chat_bubble_outline</a>
                        </div>

			{% if post.type != 'TXT' %}
                        <div class="post-caption">{{ post.desc  }}</div>
			{% endif %}

                    </div>


            {% endfor %}

	    {% endif %}

            </div>



        </div>


            </div>



            <nav class="navbar">
                <a href="/" class="navlink">
                    <span class="material-icons">dashboard</span>
                    <span class="nav-text"><strong>Dashboard</strong></span>
                </a>

                <a href="/explore" class="navlink">
                    <span class="material-icons"> explore </span>
                    <span class="nav-text"><strong> Explore </strong></span>
                </a>

                <a href="/search" class="navlink">
                    <span class="material-icons"> search </span>
                    <span class="nav-text"><strong>Search </strong></span>
                </a>

                <a href="/accounts/{{ user.userprofile.slug }}" class="navlink active">
                    <span class="material-icons"> person_pin </span>
                    <span class="nav-text"><strong>Profile</strong></span>
                </a>
            </nav>

            <script src="https://vjs.zencdn.net/7.8.4/video.js"></script>
            <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

	<script>

          $('.like').click(function (){
                  var post_id = $(this).val();
		  if (this.style.color === "rgb(231, 31, 91)")
                  {
                  var status = 'liked';
                  } else {
                  var status = 'unliked';
                  }

                  $.ajax({
                  url: '/posts/ajax-like',
                  data: {
                    'post_id': post_id,
                    'status': status,
                  },
                  dataType: 'json',
                  success: function(data) {
                  var count = data.count + ' likes';
		  var post_id = data.post_id;
		  var post_id_jq = '#' + data.post_id;
                  if (data.status === 'liked') {
			  document.getElementById(post_id).style.color = "#e71f5b";
                          $(post_id_jq).siblings(".likes").children(".liked-by-link").text(count);
                  } else {
			  document.getElementById(post_id).style.color = "#aaafae";
                          $(post_id_jq).siblings(".likes").children(".liked-by-link").text(count);
                  }
                  }
                  });
            });

        </script>

            <script type="text/javascript">
             $(document).on('click', 'nav a',  function(){
                 $(this).addClass('active').siblings().removeClass('active')
             })

             function toggle() {
                 var blur = document.getElementById( 'blur');
                 blur.classList.toggle('active')
             }
            </script>

            <script type="text/javascript">
                 plyr.setup(".plyr");
                 </script>

    </body>

</html>
